{% extends 'base.html' %}
{% block title %}Admin{% endblock %}

{% block content %}
	<style type="text/css">
		#ar{
			background-color: #EBDEF0
		}
		#af{
			background-color: #FADBD8
		}
		#nr{
			background-color: #D4E6F1
		}
		#nf{
			background-color: #D1F2EB
		}
		.brt{
			margin-left: 10px;
			padding: 10px 0px 10px 10px;
		}
	</style>

	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery(document).ready(function() {
				set_rsvp_data(
					JSON.parse('{{ data|tojson }}'), 
					{{ total_guests }},
					JSON.parse('{{ guests_breakdown|tojson }}'), 
				)
			});
		})
	</script>

	<script src="{{ url_for('static', filename='js/admin/admin.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

	<!-- Load Style -->
	<link rel="stylesheet" 
		  type="text/css" 
		  href="{{ url_for('static', filename='css/views/admin/admin.css') }}">
	<link rel="stylesheet" 
		  type="text/css" 
		  href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css') }}">

	<!-- Main Page with Button to Trigger Modal -->
	<div id="main-div">
		<h1>RSVP List</h1>
		<h3>
			Total: <span id="total_guests"></span>
		</h3>
	<div class="row">
	  <div id="ar" class="col-xs-1 brt"></div>
	  <div id="af" class="col-xs-1 brt"></div>
	  <div id="nr" class="col-xs-1 brt"></div>
	  <div id="nf" class="col-xs-1 brt"></div>
	  <div id="blank" class="col-xs-1 brt"></div>
	</div>
		<br><br>
		<table id="rsvp_table" 
			   class="table table-striped table-bordered" 
			   cellspacing="0" 
			   width="100%">
			<thead></thead>
			<tbody id="rsvp_table_body"></tbody>
		</table>
	</div>

{% endblock %}
