{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}


  <script src="{{ url_for('static', filename='js/admin/login.js') }}">
  </script>


  <!-- Load Style -->
	<link rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/views/admin/login.css') }}">


  <!-- Main Page with Button to Trigger Modal -->
	<div id="main-div">
    <h1 id="instructions">
      please log in
    </h1>
    <br>
    <input id="irakaciya" type="text" class="form-control">
    <br>
    <button id="go"
            type="button" 
            class="btn btn-default">
        GO
      </button>
  </div>

{% endblock %}