{% extends 'base.html' %}
{% block title %}RSVP{% endblock %}

{% block content %}



  <!-- Load Plugins -->
<!--   <script type="text/javascript">
    var decodeHtmlEntity = function(x) {
      return x.replace(/&#(\d+);/g, function(match, dec) {
        return String.fromCharCode(dec);
      });
    };
    var existing_data = JSON.parse(decodeHtmlEntity("{{  data }}"));
  </script> -->

  <script src="{{ url_for('static', filename='js/rsvp/rsvp.js') }}">

  </script>


  <!-- Load Style -->
	<link rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/views/rsvp/rsvp.css') }}">


  <!-- Main Page with Button to Trigger Modal -->
	<div id="image-div">
    <button id="rsvp-btn-main" 
            type="button" 
            class="btn btn-default btn-rsvp" 
            data-toggle="modal" 
            data-target="#myModal">
      RS&nbsp&nbspVP
    </button>
    <div id="thankyou_message">
      Thank you for your RS&nbsp&nbspVP
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" 
       id="myModal" 
       role="dialog">
    <div class="modal-dialog">
      <!-- Modal Content-->
      <div class="modal-content">
        <!-- Modal Header-->
        <div class="modal-header">
          <div id="header-top">
            &nbsp
            <br>
            &nbsp
            <br>
            &nbsp
            <br>
            &nbsp
            <br>
            &nbsp
          </div>

          <div id="header-bottom">
            <h4 class="modal-title">
              RS VP
            </h4>
          </div>
        </div>

        <!-- Modal Body-->
        <div class="modal-body">
          <div  class="row">
            <input id="leader_name_input"
                   type="text" 
                   class="form-control name-input" 
                   placeholder="Your Full Name" 
                   style="margin-bottom: 6px">

            <button id="leader_attending_btn"
                    type="button" 
                    class="btn btn-default btn-rsvp btn-selected" 
                    style="margin-right: 5px">
              Attending
            </button>

            <button id="leader_not_attending_btn"
                    type="button" 
                    class="btn btn-default btn-rsvp">
              Not Attending
            </button>
          </div>

          <div id="additional_guests_area"></div>

          <div class="row">
            <button id="add_guest_btn" 
                    type="button" 
                    class="btn btn-default btn-rsvp btn-add-guest">
              + Add&nbsp&nbsp&nbspGuest&nbsp&nbsp
            </button>
          </div>

          <hr>

          <div class="row">
            <textarea id="comments_input"
                      class="form-control" 
                      rows="3" 
                      placeholder="Comments or Special Requests"></textarea>
            <input id="email_input"type="text" 
                   class="form-control name-input email" 
                   placeholder="Your  Email    (optional )" 
                   style="margin-bottom: 6px">
          </div>
        </div>

        <!-- Modal Footer-->
        <div class="modal-footer">
          <div class="row">
            <button id="submit_rsvp_btn" 
                    type="button" 
                    class="btn btn-default btn-rsvp btn-send" 
                    data-dismiss="modal">
              Submit RS&nbsp&nbspVP&nbsp&nbsp&nbsp
            </button>
<!--             <button id="test_button" type="button" class="btn btn-default btn-rsvp btn-send">Submit RS&nbsp&nbspVP&nbsp&nbsp&nbsp</button>
 -->          </div>
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}