{% extends 'base.html' %}
{% block title %}Invitation{% endblock %}

{% block content %}

  <script src="{{ url_for('static', filename='js/invite/invite.js') }}">
  </script>
  <script 
    src="{{ url_for('static', filename='plugins/slick/slick/slick.min.js') }}">
  </script>


  <!-- Load Style -->
	<link rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/views/invite/invite.css') }}">
  <link rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='plugins/slick/slick/slick.css') }}">
  <link rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='plugins/slick/slick/slick-theme.css') }}">
  <!-- Main Page with Button to Trigger Modal -->

	<div id="main-div">
    <div id="slick-div">
      <div id="invite-front" class="slick-div-slider"></div>
      <div id="invite-middle" class="slick-div-slider"></div>
      <div id="invite-last" class="slick-div-slider"></div>
    </div>
  </div>
{% endblock %}