#image-div {
	background:
		url("../../../images/nithy-shoot/brown_boards_20-opacity.jpg");
	width: 100%; 
	height: 100%; 
	left: 0px; 
	top: 0px; 
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding:0px !important;
	text-align:center;
	vertical-align: center;
	font-family: ByronMedium;
}

.modal{
	font-family: ByronMedium;
}

#header-top {
	background:
		url("../../../images/views/rsvp/floral_top.jpg");
	width: 100%; 
	height: 100%; 
	background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.modal-dialog{
	opacity: 1;
	color: #800020 !important;
	text-align:left;
}

.modal-content{
	font-size: 26px;
	border-radius: 0px;
}

.modal-header{
	border: none;
	padding: 0px;
	margin: 0px;
}

.modal-title{
	margin-top: 20px;
	background-color: #800020;
	color: white;
	font-size: 46px;
	padding: 0px 0px 0px 30px;
	letter-spacing: 5px;
}


.modal-body{
	font-size: 26px;
	padding:30px;
}

.name-input{
	font-size: 28px;
	border-radius: 0px;
	border-color:#800020;
	border-bottom: 2px solid;
	box-shadow: none !important;
	padding: 20px;
	padding-left: 10px;
	color: #800020;
}

.name-input:focus {
  border-color: #800020;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0.6);
}

.btn-rsvp {
	font-size: 20px;
	border-radius:0px;
	color: #800020;
	border-color: rgba(128, 0, 32, .2) 
}

.btn-rsvp:hover {
	background-color: rgba(128, 0, 32, .5);
	color: white;
	border-color: rgba(128, 0, 32, 1);
	-webkit-transition: width 1s, background-color 1s, border-color 3s;
	transition: width 1s, background-color 1s, border-color 3s;
}

.btn-rsvp:focus {
	outline: 0 !important;
	background-color: rgba(128, 0, 32, .5);
	color: white;
	border-color: rgba(128, 0, 32, 1);
}

.btn-selected {
	background-color: #800020 !important;
	color: white !important;
	border-color: rgba(128, 0, 32, 1);
	-webkit-transition: width 1s, background-color 1s, border-color 3s;
	transition: width 1s, background-color 1s, border-color 3s;
}

.row{
	padding: 20px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

#comments_input{
	resize: none;
	font-size: 20px;
	border-radius: 0px;
	border-bottom: 2px solid;
	box-shadow: none !important;
	color: #800020;
	border-color: #800020;
	margin-bottom: 16px;
}

.email{
	border-color: #800020;
	font-size: 20px !important;
}

.modal-footer{
	padding-right:30px;
}

.btn-add-guest {
	padding: 5px !important
}

#rsvp-btn-main{
	margin-top: 400px;
	background-color: transparent;
	font-size: 76px;
	padding: 10px 55px 10px 30px
}

#rsvp-btn-main:hover {
	background-color: rgba(128, 0, 32, .6);
	color: white;
	border-color: rgba(128, 0, 32, 1);
	-webkit-transition: width 1s, background-color 2s, border-color 3s;
	transition: width 1s, background-color 2s, border-color 3s;
}

.guest_row{
	display: none
}

.btn-remove{
	margin-top: 2px;
	padding: 0px 5px 5px 5px;
	line-height:100%
}

.hide {
	visibility: hidden;
}

#thankyou_message{
	font-size: 72px;
	color: #800020;
	float: center;
	padding-top:75%;
}