@media (orientation:landscape) {
	#main-row {
	  display: flex;
	  flex-direction: column;
	  height: 100%;
	  font-family: DancingScript;
	  overflow: hidden;
	}

	#text-div {
		height: 100%;
		background-color:#F5D3BA;
		background-image: radial-gradient(#fff 10%, transparent 10%),
		radial-gradient(#fff 10%, transparent 10%);
		background-size: 3% 3%;
		background-position: 0 0, 15px 15px;
		border: 9px #F5866A;
		border-style: none dashed none none;
		color: #53466A;
	}

	#image-div {
	  background: wheat;
		background:
			linear-gradient(
				to right,
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0)
			),
			url("../../../images/nithy-shoot/walking_20.jpg");
		height: 100%;
		left: 0px; 
		top: 0px; 
		background-size: cover;
		background-position: center right -90px;
		background-repeat: no-repeat;
	}


	#save-the-date-text {
		text-align: center;
		font-size: 4vw;
		font-weight: bold
	}

	#ann-naveen-text {
		text-align: center;
		font-size: 6vw;
		font-weight: bold
	}

	#and-name {
		font-size: 3vw;
	}

	hr.style15 {
		border-top: 4px double #F5866A;
		text-align: center;
		margin: 20px;
		margin-top: 36px
	}
	hr.style15:after {
		font-family: "Glyphicons Halflings";
		content: "\e005";
		display: inline-block;
		position: relative;
		top: -18px;
		padding: 0 10px;
		background: transparent;
		color: #F5866A;
		font-size: 23px;
	}


	hr.style17 {
		border-top: 1px solid #F5866A;
		text-align: center;
		margin: 20px
	}
	hr.style17:after {
		font-family: "Glyphicons Halflings";
		content: '\e143';
		display: inline-block;
		position: relative;
		top: -12px;
		padding: 0 2px;
		background: #F5D3BA;
		color: #F5866A;
		font-size: 8px;
	}

	#date-location-area {
		position: relative;
		bottom: 0;
		width: 100%;
		text-align:left;
		padding-right: 10px;
		padding-bottom: 10px;
		text-align: center;
		font-size: 2vw;
	}

	#image-text-div {
		display: inline-block;
		position: absolute;
		margin-left: 5%;
		width: 30%
	}

	#main-row {
		flex-direction: row;
	}
	#text-div {
		min-width: 40%;
	}
	#image-div {
		flex-basis: 100%;
	}

	@media (min-width: 1024px) {
		#image-text-div {
			margin-top: 90px
		}
	}

	@media (min-width: 1024px) and (max-height: 800px) {
		#image-text-div {
			margin-top: 140px
		}
	}

	@media (min-width: 1024px) and (min-height: 1024px) {
		#image-text-div {
			margin-top: 200px
		}
	}

	@media (max-width: 700px) and (max-height: 340px) {
		#image-text-div {
			margin-top: -20px
		}
	}
}



@media (orientation:portrait) {
	#main-row {
	  display: flex;
	  flex-direction: row;
	  height: 100%;
	  font-family: DancingScript;
	  overflow: hidden;
	}

	#text-div {
		height: 100%;
		background-color:#F5D3BA;
		background-image: radial-gradient(#fff 10%, transparent 10%),
		radial-gradient(#fff 10%, transparent 10%);
		background-size: 3% 3%;
		background-position: 0 0, 15px 15px;
		border: 9px #F5866A;
		border-style: none none dashed none;
		color: #53466A;
	}
	#image-div {
	  background: wheat;
		background:
			linear-gradient(
				to right,
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0)
			),
			url("../../../images/nithy-shoot/walking_20.jpg");
		height: 100%;
		left: 0px; 
		top: 0px; 
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}


	#save-the-date-text {
		text-align: center;
		font-size: 4vw;
		font-weight: bold
	}

	#ann-naveen-text {
		text-align: center;
		font-size: 6vw;
		font-weight: bold
	}

	#and-name {
		font-size: 3vw;
	}

	hr.style15 {
		border-top: 4px double #F5866A;
		text-align: center;
		margin: 20px;
		margin-top: 36px
	}
	hr.style15:after {
		font-family: "Glyphicons Halflings";
		content: "\e005";
		display: inline-block;
		position: relative;
		top: -18px;
		padding: 0 10px;
		background: transparent;
		color: #F5866A;
		font-size: 23px;
	}


	hr.style17 {
		border-top: 1px solid #F5866A;
		text-align: center;
		margin: 20px
	}
	hr.style17:after {
		font-family: "Glyphicons Halflings";
		content: '\e143';
		display: inline-block;
		position: relative;
		top: -12px;
		padding: 0 2px;
		background: #F5D3BA;
		color: #F5866A;
		font-size: 8px;
	}

	#date-location-area {
		position: relative;
		bottom: 0;
		width: 100%;
		text-align:left;
		padding-right: 10px;
		padding-bottom: 10px;
		text-align: center;
		font-size: 3vw;
	}

	#image-text-div {
		display: inline-block;
		position: absolute;
		margin-left: 5%;
		width: 90%
	}

	#main-row {
		flex-direction: column;
	}
	#text-div {
		max-height: 40%;
	}
	#image-div {
		flex-basis: 100%;
	}

	@media (min-width: 1024px) {
		#image-text-div {
			margin-top: 40px
		}
	}

	@media (max-width: 420px) {
		#image-text-div {
			margin-top: 0px
		}


		hr.style17 {
			padding: 0px;
			margin-bottom: 10px;
		}

		#save-the-date-text {
			text-align: center;
			font-size: 6vw;
			font-weight: bold
		}

		#text-div {
			max-height: 48%;
		}

		#image-div {
			background-position: center right;
		}
	}

	@media (width: 768px) and (max-height: 960px) {
		#text-div {
			max-height: 45%;
		}

		#image-div { 
			background-size: auto;
			background-position: top -20px right -20px;
			background-repeat: no-repeat;
		}

		#save-the-date-text {
			font-size: 5vw;
		}

		#ann-naveen-text {
			font-size: 7vw;
		}
	}

}