
#main-row{
	font-family: DancingScript;
	color: white;
	padding:0px !important;

}

#image-div{
	background:
		linear-gradient(
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.2),
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.8), 
			rgba(0, 0, 0, 1)
		),
		url("../../../images/nithy-shoot/brown_boards_20.jpg");
	width: 100%; 
	height: 100%; 
	position: fixed; 
	left: 0px; 
	top: 0px; 
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding:0px !important;
}

#save-the-date-text {
	font-size: 5vw !important;
	margin: 20px 0px 0px 20px;
	line-height: 100%;
	text-shadow: 1px 2px 6px black;
}

#ann-naveen-text {
	color: white;
	text-shadow: 1px 3px 20px black;
	opacity: 1;
}

#ann-name {
	font-size: 10vw !important;
	margin: 160px 0px 0px 80px;
	line-height: 100%
}

#and-name {
	font-size: 3vw !important;
	margin: 00px 0px 0px 210px;
	line-height: 100%
}

#naveen-name {
	font-size: 10vw !important;
	margin: 0px 0px 0px 190px;
	line-height: 100%
}

#date-text {
	font-size: 3vw !important;
	text-shadow: 1px 1px 6px black;
}

#location-text {
	font-size: 2vw !important;
	text-shadow: 1px 1px 6px black;
}


#date-location-area {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align:right;
	padding-right: 10px;
	padding-bottom: 10px
}

@media (max-width: 1024px) {

	#save-the-date-text {
		font-size: 12vw !important;
		margin: 16px 0px 0px 16px;
		line-height: 100%;
	}

	#ann-naveen-text {
		color: white;
	}

	#ann-name {
		font-size: 18vw !important;
		margin: 400px 0px 0px 120px;
		line-height: 100%
	}

	#and-name {
		font-size: 6vw !important;
		margin: 00px 0px 0px 330px;
		line-height: 100%
	}

	#naveen-name {
		font-size: 18vw !important;
		margin: 0px 0px 0px 320px;
		line-height: 100%
	}

	#date-text {
		font-size: 6vw !important;
	}

	#location-text {
		font-size: 4vw !important;
	}

	@media (max-height: 768px) {
		#save-the-date-text {
			font-size: 6vw !important;
		}

		#ann-name {
			font-size: 11vw !important;
			margin: 200px 0px 0px 120px;
		}

		#and-name {
			font-size: 3vw !important;
			margin: 00px 0px 0px 240px;
		}

		#naveen-name {
			font-size: 11vw !important;
			margin: 0px 0px 0px 220px;
		}

		#date-text {
			font-size: 4vw !important;
		}

		#location-text {
			font-size: 3vw !important;
		}
	}
}


@media (max-width: 768px) {
	#ann-name {
		font-size: 18vw !important;
		margin: 300px 0px 0px 120px;
		line-height: 100%
	}

	#and-name {
		font-size: 6vw !important;
		margin: 00px 0px 0px 280px;
		line-height: 100%
	}

	#naveen-name {
		font-size: 18vw !important;
		margin: 0px 0px 0px 260px;
		line-height: 100%
	}

}

@media (max-width: 736px) {
	#save-the-date-text {
		font-size: 5vw !important;
		margin-left: 10px
	}

	#ann-naveen-text {
		color: white;
		text-shadow: 1px 2px 6px black;
		opacity: 1;
	}

	#ann-name {
		font-size: 10vw !important;
		margin: 60px 0px 0px 30px;
		line-height: 100%
	}

	#and-name {
		font-size: 4vw !important;
		margin: 00px 0px 0px 80px;
		line-height: 100%
	}

	#naveen-name {
		font-size: 10vw !important;
		margin: 0px 0px 0px 80px;
		line-height: 100%
	}

	#date-text {
		font-size: 3vw !important;
	}

	#location-text {
		font-size: 2vw !important;
	}
}


@media (max-width: 440px) {
	#save-the-date-text {
		font-size: 16vw !important;
		margin-left: 10px
	}

	#ann-naveen-text {
		color: white;
	}

	#ann-name {
		font-size: 24vw !important;
		margin: 200px 0px 0px 30px;
		margin-top: 30%;
		line-height: 100%
	}

	#and-name {
		font-size: 10vw !important;
		margin: 00px 0px 0px 80px;
		line-height: 100%
	}

	#naveen-name {
		font-size: 24vw !important;
		margin: 0px 0px 0px 80px;
		line-height: 100%
	}

	#date-text {
		font-size: 8vw !important;
	}

	#location-text {
		font-size: 4vw !important;
	}
}


