@font-face {
  font-family: "DancingScript";
  src: url("../fonts/dancing_script/DancingScript-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "DancingScript";
  src: url("../fonts/dancing_script/DancingScript-Bold.ttf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "ByronMedium";
  src: url("../fonts/byron_medium/ByronMedium.ttf") format("opentype");
}
