#main-div{
	height: 100vh;
	background-color: white;
	width: 100%;
	text-align: center;
	padding: 0% 5% 0% 5%;
}


#slick-div{
	height: 100vh;
	text-align: center;
}


.slick-div-slider {
	height: 100vh !important; 
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	text-align: center !important;
	vertical-align: center !important;
}

#invite-front {
	background:
		url("../../../images/views/invite/front.jpg");
}

#invite-middle {
	background:
		url("../../../images/views/invite/middle.jpg");
}

#invite-last {
	background:
		url("../../../images/views/invite/last.jpg");
}


.slick-prev:before, .slick-next:before { 
    color:#B90A6B !important;
    font-size: 30px !important;

}