#main-div{
	padding-top: 40%;
	text-align: center
}

#irakaciya{
	width: 75%;
	text-align: center;
	display: inline-block;
	height: 60px;
	font-size: 48px;
	margin-top: 30px;
}

#go{
	text-align: center;
	display: inline-block;
	margin-top: 30px;
	padding:20px 40px 20px 40px;
	font-size: 36px;
}