{% extends 'base.html' %}
{% block title %}Save the Date{% endblock %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/views/save-the-date/save-the-date-walking-5.css') }}">

	<div id="main-row">
		<div id="text-div">
			<div id="image-text-div">
				<hr class="style15">

				<div id="save-the-date-text" class="three">
					Save the Date
				</div>

				<hr class="style17">

					<div id="ann-naveen-text">
						<div id="ann-name">Ann</div>
						<div id="and-name">&</div>
						<div id="naveen-name">Naveen</div>
					</div>

				<hr id="third_border" class="style17">
				<div id="date-location-area">
					<div id="date-text">
						August 25<sup>th</sup> 2018 - Toronto, ON
					</div>

					<div id="location-text">
						
					</div>
				</div>
			</div>

		</div>



  		<div id="image-div"></div>
	</div>

{% endblock %}