{% extends 'base.html' %}
{% block title %}Save the Date{% endblock %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/views/save-the-date/save-the-date-brown.css') }}">

	<div id="main-row" class="row">
		<div id="image-div" class="col-sm-12 background-image">

<!-- 			<div id="save-the-date-text">
				Save the Date
			</div> -->

			<div id="ann-naveen-text">
				<div id="ann-name">Ann</div>
				<div id="and-name">&</div>
				<div id="naveen-name">Naveen</div>
			</div>

			<div id="date-location-area">
				<div id="date-text">
					August 25<sup>th</sup> 2018 
				</div>

				<div id="location-text">
					Toronto, ON
				</div>
			</div>

		</div>
	</div>


{% endblock %}