{% extends 'base.html' %}
{% block title %}Gift Registry{% endblock %}

{% block content %}
	<style type="text/css">
		.registry_links{
			text-align: center !important;
			margin: 40px;
		}

		#message{
			text-align: center;
			margin: 40px;
			line-height:200%;
			color: #800020
		}
	</style>

	<div id="message">
		Don't mind any dates in the Registries; they are wrong on purpose.
		<br>
		Also feel free not to stick to the items in the Registries.
		<br>
		<br>
		<span style="
			font-weight: bold
		">
			Thanks for making Ann's Bridal Shower a special one. 
		</span>
	</div>



	<div id="hudson-bay" class="registry_links">
		<a href="https://registry.thebay.com/registry/view-registry/ann_anton">
			<img 
			src="{{ url_for('static', filename='images/logos/hudsonbay.png') }}" 
			>
		</a>
	</div>


	<div id="ho" class="registry_links">
		<a href="https://registry.homeoutfitters.com/registry/view-registry/ann_anton"
		   style="
		       text-align: center
		   " 	
		>
			<img 
			src="{{ url_for('static', filename='images/logos/ho.png') }}" 
			style="
				max-width: 260px;
				width: auto;
			" 
			>
		</a>
	</div>

{% endblock %}
