<!DOCTYPE html>
<html style="height: 100%">
	<head>
	{% block head %}
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ann-naveen.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logos/heart.png') }}" />
		
		<script src="{{ url_for('static', filename='plugins/js/jquery-3.2.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

		<title>A & N - {% block title %}{% endblock %}</title>
	{% endblock %}
	</head>
	
	<body style="height: 100%">
		<div id="content" style="height: 100%">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>